<div class="layout-sidebar, topbar-logo" [ngClass]="{'layout-sidebar-active' : layoutService.state.menuHoverActive}" (mouseover)="layoutService.state.menuHoverActive=true" (mouseleave)="layoutService.state.menuHoverActive=false">
    <div class="sidebar-logo" style="background-color: #0E76E0;" [ngClass]="{'layout-upper-active': layoutUpperActive, 'layout-upper-static': layoutService.state.staticMenuDesktopInactive}" >
        <a href="#">
            <img alt="logo" src="assets/layout/images/logo-white.svg"/>
            <span class="app-name">MODELO</span>
            <a *ngIf="!layoutService.isMobile()" href="#" class="sidebar-anchor" title="Toggle Menu" (click)="layoutService.onMenuToggle()"></a>
        </a>
    </div>
    <ul class="layout-menu">
        <ng-container *ngFor="let item of model; let i = index;">
            <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
            <li *ngIf="item.separator" class="menu-separator"></li>
        </ng-container>
        <li>
            <a href="https://www.primefaces.org/primeblocks-ng/#/">
                <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
            </a>
        </li>
    </ul>
</div>
