.layout-sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    left: -180px;
    top: 0px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 0px 6px;
    overflow: hidden auto;
    transition: left 0.3s ease 0s;
}

.layout-sidebar:hover {
    width: 240px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 0px 6px;
    overflow: hidden auto;
    transition: left 0.3s ease 0s
}

.layout-sidebar-ori {
    position: fixed;
    width: 300px;
    height: calc(100vh - 9rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 7rem;
    left: 2rem;
    transition: transform $transitionDuration, left $transitionDuration;
    background-color: var(--surface-overlay);
    border-radius: $borderRadius;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
}


.layout-sidebar .sidebar-anchor{
    display: inline-block;
    border: 2px solid #0E76E0;
}

.layout-sidebar-active .sidebar-anchor{
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
}


.layout-upper  {
    height: 64px;
    padding-top: 8px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
}

.layout-upper-active .sidebar-anchor{
    display: inline-block;
}

.layout-upper-static .sidebar-anchor{
    display: inline-block;
    background-color: #ffff;
    border: 2px solid #ffff;
}

.sidebar-anchor {
    display: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ffff;
    background-color: #0E76E0;
    vertical-align: middle;
    float: right;
    margin-right: 1.5rem;
    margin-top: 1.1rem;
    border-radius: 50%;
    margin-right: 10px;

}

.logo-slim {
    height: 36px; 
    margin-top: 8px;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
        >.layout-menuitem-root-text {
            font-size: .857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--surface-900);
            padding: 1.5rem 0 0.5rem 0.5rem;
            position: relative;
        }

        >a {
            display: none;
        }
    }

    a {
        user-select: none;

        &.active-menuitem {
            >.layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    li.active-menuitem {
        >a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: .75rem 1rem;
            border-radius: $borderRadius;
            transition: background-color $transitionDuration, box-shadow $transitionDuration;

            .layout-menuitem-icon {
                margin-right: .5rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform $transitionDuration;
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            &:focus {
                @include focused-inset();
            }
        }

        ul {
            overflow: hidden;
            border-radius: $borderRadius;

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}